@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1216px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 16px;
}

header,
main,
section,
footer {
   width: 100%;
}