@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1216px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 16px;
}

header,
main,
section,
footer {
   width: 100%;
}

/* custom select style */
.ant-select-selector {
  border-color: #46a358 !important;
}

.ant-select-arrow,
.ant-select-selection-item {
  color: #46a358 !important;
  font-weight: 600 !important;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-badge .ant-scroll-number {
  top: -1px;
  right: -4px;
}

@media screen and (max-width: 768px) {
  :where(.css-dev-only-do-not-override-1pg9a38).ant-badge .ant-scroll-number {
    width: 25px !important;
    height: 17px;
    font-size: 10px;
    line-height: 0px;
    display: flex;
    align-items: center;
    top: -1px;
    right: -4px;
  }
}

/* skeleton */

:where(.css-dev-only-do-not-override-98ntnt).ant-skeleton.ant-skeleton-element .ant-skeleton-input {
  min-width: 100px !important;
}

#product-price :where(.css-dev-only-do-not-override-98ntnt).ant-skeleton.ant-skeleton-element .ant-skeleton-input {
  min-width: 40px !important;
}

#product-user :where(.css-dev-only-do-not-override-98ntnt).ant-skeleton.ant-skeleton-element .ant-skeleton-input {
  min-width: 40px !important;
}

#payment_methods .ant-radio-wrapper .ant-wave-target {
  border: 1pxs solid #46A358 !important;
}

#payment_methods .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color:#46A358;
  background-color:#46A358;
}

#payment_methods  .ant-radio-wrapper-checked {
  border-color: #46A358 !important;
  color: #46A358 !important;
}


/* Webkit browsers */
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
  height: 4px; /* height of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar handle */
  border-radius: 10px; /* roundness of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar handle on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Scrollbar color for IE and Edge */
* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
