@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1216px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 16px;
}

header,
main,
section,
footer {
   width: 100%;
}

/* custom select style */
.ant-select-selector {
  border-color: #46a358 !important;
}

.ant-select-arrow,
.ant-select-selection-item {
  color: #46a358 !important;
  font-weight: 600 !important;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-badge .ant-scroll-number {
  top: -1px;
  right: -4px;
}

@media screen and (max-width: 768px) {
  :where(.css-dev-only-do-not-override-1pg9a38).ant-badge .ant-scroll-number {
    width: 25px !important;
    height: 17px;
    font-size: 10px;
    line-height: 0px;
    display: flex;
    align-items: center;
    top: -1px;
    right: -4px;
  }
}